@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 100% 96%;
    --foreground: 226 2% 10%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 31 100% 76%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border tracking-[-2px];
  }

  html, body, #root {
    @apply h-full w-full overflow-hidden m-0 p-0;
  }

  body {
    @apply bg-[#FFF9E3] text-[#1B1A1A] font-inter antialiased leading-[90%];
    cursor: default;
  }
}

@layer components {
  .animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #D5EEAA;
  }
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .client-name {
    @apply text-black relative normal inline-block cursor-none font-black;
    transition: all 0.2s ease;
  }
  
  .client-name:hover {
    @apply text-[#FFAA85]/80;
  }

  .custom-cursor {
    @apply fixed pointer-events-none opacity-0 z-50 rounded-md shadow-lg;
    transition: opacity 0.2s ease, transform 0.1s ease;
    transform: translate(-50%, -50%) scale(0.95);
    width: 25vw;
    height: auto;
  }
  
  .custom-cursor.visible {
    @apply opacity-100;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .contact-button {
    @apply inline-flex text-[#E1FF9F] bg-[#0E1600] px-[1.8vw] py-[2.2vw] rounded-[0.8vw] cursor-pointer uppercase font-black tracking-[-2px] text-[1.5vw];
    font-family: 'Inter', sans-serif;
  }

  .non-interactive-text {
    @apply font-normal italic cursor-default;
  }
}
